body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-container {
  margin: auto;
  width: 500px;
  position: relative;
  top: 50px;
}

input {
  background-color: rgb(255, 255, 255, 0.15);
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  color: #fff;
  font-size: 1em;
  border: 1px solid #fff;
  border-radius: 10px;
}

.search-button {
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: transparent;
  color: #fff;
}

.results {
  background-color: rgb(255, 255, 255, 0.23);
  width: 500px;
  height: 300px;
  margin: 70px auto;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.results h5,
p {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 35%;
}

.results h5 {
  font-weight: 500;
  font-size: 1.5em;
}
.results p {
  font-weight: 700;
  font-size: 4em;
}

.unit-selector {
  text-align: center;
  padding: 10px 2px;
  background-color: rgb(255, 255, 255, 0.23);
  width: 240px;
  margin: 20px auto 50px auto;
  border-radius: 10px;
}
.unit-selector span.active {
  background-color: #fff;
  padding: 7px 20px 7px 36px;
  margin: auto;
  border-radius: 10px;
  color: #000000;
}

.unit-selector span {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
}


/*Screens that are 600px wide or less */
@media screen and (max-width: 960px) {
  .results {
    width: 65%;
    height: 350px;
  }

  input {
  height: 50px;
  font-size: 2em;
  }
  .search-container {
    width: 80%;
  }
  .search-button {
    font-size: 20px;
  }
  .results h5,
  p {
    position: relative;
    top: 25%;
  }
  .results h5 {
    font-weight: 500;
    font-size: 3em;
  }
  .results p {
    font-weight: 700;
    font-size: 7em;
    margin-left: 28px;
  }
  .unit-selector {
        font-size: 2.8rem;
        width: 59%;
        padding-right: 1px;
        padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .results {
    width: 80%;
    height: 190px;
  }
  .search-container {
    width: 90%;
  }

  .results h5,
  p {
    position: relative;
    top: 25%;
  }

  .results h5 {
    font-weight: 500;
    font-size: 1.5em;
  }
  .results p {
    font-weight: 700;
    font-size: 3.9em;
    margin-left: 12px;
  }

  .unit-selector{
    font-size: 1.3rem;
    width: 70%;
   margin: 20px auto 50px auto;
  }
  .unit-selector span.active{
    padding: 7px 20px;
  }
}
