body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  background-color: burlywood;
  overflow: hidden;
}

.content {
  padding: 0 0 20px 0;
  min-height: calc(100vh - 40px);
}

.container {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-container {
  margin: auto;
  width: 600px;
  position: relative;
  top: 50px;
}

input {
  background-color: rgb(113, 121, 126, 0.4);
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  color: #fff;
  font-size: 1em;
  border: 1px solid #fff;
  border-radius: 10px;
  text-shadow: -1px 1px 2px #000;
}

::placeholder {
  color: #eeeeee;
}

.search-button {
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: transparent;
  color: #fff;
}

.error-results {
  background-color: rgb(255, 255, 255, 0.23);
  width: 600px;
  height: 200px;
  margin-left: 40px;
  position: absolute;
  top: 20%;
  left: 23%;
  text-align: center;
  padding-left: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 2.5em;
  color: #fff;
  text-shadow: -1px 1px 2px #000, 1px 2px 6px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.loading {
  background-color: rgb(255, 255, 255, 0.23);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 300px;
  padding: 7px;
  font-size: 1.1em;
  text-align: center;
}

.unit-selector {
  text-align: center;
  padding: 10px 2px;
  background-color: rgb(255, 255, 255, 0.23);
  width: 25%;
  margin: 20px auto 50px auto;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.5rem;
}
.unit-selector span.active {
  background-color: #fff;
  padding: 7px 20px 7px 36px;
  margin: auto;
  border-radius: 10px;
  color: #000000;
}

.unit-selector span {
  cursor: pointer;
  margin-right: 25px;
  margin-left: 10px;
  color: #000;
}

/*Screens that are 960px wide or less */
@media screen and (max-width: 960px) {
  form {
    margin-bottom: 30px;
  }
  .loading {
    left: 250px;
  }
  .city-list {
    width: 67%;
  }
  .container {
    height: 100vh;
    position: relative;
    z-index: 0;
  }
  .icon-desc p {
    font-size: 1.5em !important;
  }

  .slick-slider {
    width: 70% !important;
    height: 350px;
    margin: 70px auto;
  }

  input {
    height: 50px;
    font-size: 2em;
  }
  .search-container {
    width: 70%;
  }
  .search-button {
    font-size: 18px;
    margin-top: 4px;
  }

  .desc {
    font-size: 1.9em;
  }

  .temperature {
    font-weight: 700;
    font-size: 7em;
    margin-left: 28px;
  }

  .temps {
    font-size: 2.3rem !important;
  }
  .carousel-content-two {
    font-size: 1.5em !important;
  }

  .carousel-content-three {
    font-size: 1.5rem !important;
  }

  .error-results {
    font-size: 2.5em;
    position: absolute;
    width: 69% !important;
    top: 15%;
    margin: 0;
    left: 123px;
  }

  .unit-selector {
    font-size: 2.8rem;
    width: 65%;
    padding-right: 1px;
    padding-left: 0px;
    white-space: nowrap;
  }
}

/*Screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  .desc {
    font-size: 1.2rem;
  }

  .city-list {
    width: 65%;
  }
  .arrow-icons {
    display: none;
  }
  .icon-desc p {
    font-size: 1em !important;
  }

  .m-icons {
    display: flex;
    flex-direction: column;
    margin: 3px auto !important;
    padding: 2px;
  }

  .temps {
    margin: 0 !important;
    padding: 0 10px 0 10px;
    font-size: 1.3rem !important;
  }

  .temperature {
    font-weight: 700;
    font-size: 3.9rem;
    margin-left: 12px;
  }

  .error-results {
    width: 68% !important;
    top: 20%;
    margin: 0;
    left: 60px;
  }

  .unit-selector {
    font-size: 1.3rem;
    width: 70%;
  }
  .unit-selector span.active {
    padding: 7px 20px;
  }
}
