@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.slide-hidden {
  display: none;
}

.slick-slider {
  background-color: rgb(255, 255, 255, 0.25);
  width: 600px;
  height: 350px;
  margin: 70px auto;
  color: #fff;
  text-shadow: -2px 1px 2px #000;
  text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
  text-align: center;
  border-radius: 10px;
  letter-spacing: .1rem;
  font-family: "roboto", sans-serif;
}

.slick-prev {
  left: -30px;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.carousel-content h5,
p { 
  margin: 30px auto;
}

.slick-slide h5 {
  font-size: 1.5em;
}



.icon-desc {
  display: flex;
  flex-direction: column;
}

.icon-desc img {
  width: 50px;
  margin: -30px auto 0 auto;
}

.icon-desc p {
  font-weight: 500;
  font-size: 1em;
  margin-top: 0;
}

.results-name {
  font-weight: 500;
  font-size: 1.2em;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.temperature {
  font-weight: 700;
  font-size: 6.2em;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.carousel-content-two {
  font-size: 1.3em;
  margin: 45px auto;
}

.carousel-content-three{
  font-size: 1.3em;
  margin: 45px auto;
  
}

.top-row{
  display: flex;
  justify-content: space-around;

}

.bottom-row{
  display: flex;
}


.slick-dots li {
  position: relative;
  display: inline-block;
  top: 5px;
  width: 20px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.temps{
  display: block;
  margin: 10px 0 0 40px;
  font-size: 2rem;
}

.icon-style{
  font-size: 25px;
  color:#000;
}

.icon-style-2nd-slide{
  font-size: 20px;
  color:#000;
}



