.city-list ul {
  border: 2 px solid #0000;
  border-radius: 0 0px 10px 10px;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.2em;
  list-style-type: none;
  background-color: #fff;
  padding: 10px;
  margin: 0;
}
.city-list li {
  padding-bottom: 3px;
}
.city-list li:focus {
  outline: none;
  color: blue;
  border: 1 px solid #0000;
}

.city-list li:hover {
  background-color: #434347;
  outline: none;
}
